.results-container {
    width: 80%;
    margin: 2rem auto;
    padding: 1.5rem;
    background: #ffffff;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow-x: auto;
    text-align: center;
  }
  
  .error-message {
    color: red;
    font-size: 1.2rem;
    text-align: center;
    margin-bottom: 1rem;
  }
  
  .results-table {
    width: 100%;
    border-collapse: collapse;
    text-align: left;
    
  }
  
  .results-table thead {
    background-color: #ff7900;
    color: white;
    
  }
  
  .results-table th,
  .results-table td {
    padding: 10px;
    border: 1px solid #ddd;
  }
  
  .results-table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  .results-table tbody tr:hover {
    background-color: #e6f2ff;
  }
  
  @media (max-width: 768px) {
    .results-container {
      width: 95%;
      padding: 1rem;
    }
  
    .results-table th,
    .results-table td {
      padding: 8px;
      font-size: 14px;
    }
  }
  