/* LatestNews-specific styles */
.latest-news-container {
  background-color: #fff;
  padding: 40px 20px;
  font-family: 'Arial', sans-serif;
  text-align: center;
  margin-top: -27px;

}

.section-heading {
  font-size: 28px;
  font-weight: bold;
  color: #333;
  margin-bottom: 20px;
  margin-top: 2px;
  margin-left: -735px;
}

.categories {
  display: flex;
  justify-content: center;
  gap: 8px; 
  margin-bottom: 30px;
  margin-top: 11px;
  margin-left: -600px;
}

.category-btn {
  padding: 0 16px;
  border: 1.5px solid #dedede;
  border-radius: 20px;
  background-color: #fff;
  color: #212121;
  font-size: 14.5px;
  cursor: pointer;
  transition: all 0.3s ease;
  height: 40px;
  font-weight: 400;
}

.category-btn:hover {
  background-color: #fff;
  color: #666666;
}

.category-btn.active {
  background-color: #fff;
  color: black;
  border: 1.6px solid black;
}

/* Add padding to enforce spacing between slides */
.news-slide {
  padding: 0 10px; /* Adjust this value for desired gap */
}

.news-card {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: left;
  font-size: 0.9rem;
  height: 230px;
  width: auto;
  max-width: 210px;
  border: 1px solid #ddd;
  background-color: #fff;
}

.news-header {
  margin-bottom: 10px;
}

.news-title {
  font-size: 18px;
  font-weight: bold;
  color: #444;
  margin-bottom: 5px;
}

.news-date {
  font-size: 14px;
  color: #666;
}

.news-body {
  font-size: 0.9rem;
  color: #444;
}

.news-text {
  margin-bottom: 10px;
  font-size: 16px;
  margin-top: 20px;
  text-transform: capitalize;
  height: 100px;
  border-bottom: 1px solid #ddd;
}

.read-more {
  color: #444;
  font-size: 0.8rem;
  border: none;
  background: none;
  cursor: pointer;
  font-size: 15px;
}

.read-more:hover {
  color: #ff7900;
}

/* Slider arrows */
.slick-prev:before,
.slick-next:before {
  color: #007bff;
  font-size: 20px;
}

.custom-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  cursor: pointer;
}

.custom-prev {
  left: -20px;
}

.custom-next {
  right: -20px;
}

.arrow-icon {
  font-size: 1.5rem;
  color: #333;
  transition: color 0.3s;
  margin-top:1px;
}

.arrow-icon:hover {
  color: #333;
}

/* Initially hide previous arrow */
.hidden {
  display: none;
}

/* Show previous arrow when needed */
.visible {
  display: block;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .categories {
    flex-direction: column;
    gap: 10px;
  }

  .news-card {
    width: 100%;
  }
}
.slick-list{
  background-color: #fff;
}
.slick-slider{
  background-color: #fff;
}