/* Container for the entire study goal section */
.study-goal-container {
  padding: 40px 0px;
  text-align: center;
  background-color: white;
  font-family: "din",sans-serif;
  max-width: 1170px;
  margin-left: 180px;
  margin-bottom: -24px;
 
}

/* Styling the list of study goals */
.study-goal-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px; /* Increased gap for spacing */
  padding: 20px;
  margin-top: -23px;
  margin-left: -39px;
}

/* Styling for each individual card */
.study-goal-item {
  background-color: #fff; /* Light background for the cards */
  border: 1px solid #e9e9e9; /* Slightly darker border for visibility */
  border-radius: 3px; /* Smooth rounded corners */
  width: 217px; /* Reduced width */
  height: 220px; /* Reduced height */
  padding: 15px; /* Adjusted padding for the smaller card */

  transition: transform 0.3s, box-shadow 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: left;
}



/* Styling for the icon and title-college container */
.icon-title-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Styling for the icon container */
.icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px; /* Increased icon container size */
  height: 60px; /* Increased icon container size */
  margin-left: -130px;
  margin-top: 7px;
}

/* Styling for the icons inside the cards */
.study-goal-item .icon {
  font-size: 40px; /* Increased icon size */
  width: 60px; /* Increased icon width */
  height: 60px; /* Increased icon height */
  line-height: 60px; /* Aligns the icon vertically */
  background-color: #fff; /* Slightly lighter background */
  border: 1px solid #e9e9e9; /* Slightly darker border for better visibility */

  text-align: center;
  border-radius: 50%; /* Circular shape */
  transition: transform 0.3s, box-shadow 0.3s;
}



/* Styling for the title and college count container */
.title-college-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: -52px;
  margin-left: 60px;
  
}

/* Styling for headings inside cards */
.study-goal-item h3 {
  font-size: 22px;
  margin: 0;
  text-align: center;
  font-size: 20px;
  color: #444;
}

/* Styling for text below the title */
.study-goal-item p {
  font-size: 14px;
  color: #777;
  margin: 12px 0 0 0; /* Adjusted margin for better alignment */
  text-align: center;
  font: "din", sans-serif;
}

/* Styling for the list of courses inside the card */
.study-goal-item ul {
  list-style: none;
  padding: 0;
  margin: 0;
  
  
}

.study-goal-item ul li {
  font-size: 14px;
  margin: 5px 0;
  color: #555;
  font-size: 15px;
  text-align:left;
  
}.study-goal-item ul li:hover {
  color:#ff7900; /* Change color to blue on hover */
  cursor: pointer; /* Show pointer cursor on hover */
}

/* Styling for the ul container */
.ul-container {
  margin-top: 9px; /* Adjust as needed */
  margin-bottom: 55px;
  padding: 8px 10px 8px 0;
  margin-left: 15px;
}

.study-goal-item ul {
  font-size: 14px;
  margin: 5px 0;
  color: #666;
  font-size: 15px;
  text-align: left;
  margin-left: -10px;
}

.study-goal-item ul li {
  padding: 2.5px;
  border-bottom: 1.5px solid #e9e9e9;
}

.study-goal-item ul li:last-child {
  border-bottom: none; /* Remove border from the last list item */
}



/* Styling for the "Show More" and "Back" buttons */
.show-more{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 55px; /* Increased back button size */
  height: 55px; /* Increased back button size */
  background-color: #ff7900;
  color: #444;
  border-radius: 50%;
  font-size: 30px; /* Increased font size for arrows */
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 7rem;
}

.back-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 55px; /* Increased back button size */
  height: 55px; /* Increased back button size */
  background-color: #ff7900;
  color: #444;
  border-radius: 50%; 
  font-size: 30px; /* Increased font size for arrows */
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 72px;
  margin-left: 120px;
}

.show-more:hover,
.back-button:hover {
  background-color: #ff7900;
  
}

.arrow-icon {
  display: inline-block;
}

.back-arrow {
  transform: rotate(180deg);
}
.study-goal-item ul li:nth-child(2) {
  border-bottom: 1.5px solid #e9e9e9;
}
.study-goal-item ul li:nth-child(1) {
  border-bottom: 1.5px solid #e9e9e9;
}
.h22{
  text-align: left;
  color: #333;
 font-size: 26px;
  font-weight: 700;
  min-width: 122px;
  margin-left: 0rem;
  /* margin-top: -3px;
  margin-left: -810px; */
}

