.study-goal-container {
  padding: 40px 20px;
  text-align: center;
  background-color: white;
}

.study-goal-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding-left: 55px;
  padding-bottom: 40px;
  padding-top: 20px;
}

.study-goal-item {
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 12px;
  width: 220px;
  height: 280px;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: left;
}

.study-goal-item:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.study-goal-item .icon {
  font-size: 50px;
  margin-bottom: 15px;
  text-align: center;
}

.study-goal-item h3 {
  font-size: 22px;
  margin: 0 0 10px;
  text-align: center;
}

.study-goal-item p {
  font-size: 16px;
  color: #777;
  text-align: center;
}

.study-goal-item ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.study-goal-item ul li {
  font-size: 14px;
  margin: 5px 0;
  color: #555;
}

.show-more,
.back-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  background-color: #007bff;
  color: white;
  border-radius: 50%;
  font-size: 24px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 20px;
}

.show-more:hover,
.back-button:hover {
  background-color: #0056b3;
}

.arrow-icon {
  display: inline-block;
}

.back-arrow {
  transform: rotate(180deg);
}
